
    <div class="flex flex-row p-8"> 
        <div class="px-8">
            <div class="text-lg font-medium text-black"> Month </div> 
            <div class="text-3xl font-bold text-black"> June </div> 
        </div>
        <div class="px-8">  
            <div class="text-lg font-medium text-black"> Nº of Sales </div>
            <div class="text-3xl font-bold text-black"> {{sales.length}} </div>
        </div>
        <div class="px-8"> 
            <div class="text-lg font-medium text-black"> Commissions earned </div>
            <div class="text-3xl font-bold text-black"> $200.00 </div>
        </div>
    </div>  
        <div class="flex flex-row p-8"> 
            <div class="px-6">
                <div class="text-3xl font-bold text-black p-4"> New Sale </div>  
                <div class="bg-amber-600 w-64 h-96 shadow-xl rounded-xl flex flex-col">
                    {{!-- <div class="pl-4" >
                        <label for="product_name" class="block mb-1 text-lg font-bold text-gray-900 dark:text-white pt-3 tp-2">Product</label>
                        <!-- Pending: define id of product -->
                        <input type="text" id="product" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-11/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Pink Oyster Mushroom" required>
                    </div>
                    <div class="pl-4" >
                        <label for="quantity" class="block mb-2 text-lg font-bold text-gray-900 dark:text-white pt-3 ">Quantity</label>
                        <!-- Pending: define id of Quantity -->
                        <input type="text" id="quantity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-11/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="5" required>
                    </div> --}}
                    {{!-- <div class="pl-4" >
                        <label for="date" class="block mb-2 text-lg font-bold text-gray-900 dark:text-white pt-3">Date</label>
                        <input type="text" id="date_order" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-11/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="21-06-2022" required>
                    </div> --}}
                    <div class="pl-4" >
                    <select id = "myList" onchange = "listPicker()" >   
                            {{#each clients as |client|}} 
                            <option data-id="{{id}}"> {{client_name}} </option>  
                            {{/each}} 
                        </select>
                        <label for="client" class="block mb-2 text-lg font-bold text-gray-900 dark:text-white pt-3 ">Client</label>
                        <!-- Pending: define id of Client name -->
                        <input type="text" id="client_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-11/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Restaurante Hueso" required>
                    </div>
                    <button class="text-center rounded-md bg-slate-800 text-white my-2 mx-4 py-2" id="newSale">Submit Sale</button>
                </div>
            </div>
            <div class="flex flex-row p-8"> 
                <div class="px-6">
                    <div class="text-3xl font-bold text-black p-4"> New Order </div>  
                    <div class="bg-amber-600 w-64 h-96 shadow-xl rounded-xl flex flex-col">
                        <div class="pl-4" >
                            <label for="product_name" class="block mb-1 text-lg font-bold text-gray-900 dark:text-white pt-3 tp-2">Product</label>
                            <!-- Pending: define id of product -->
                            <input type="text" id="product" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-11/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Pink Oyster Mushroom" required>
                        </div>
                        <div class="pl-4" >
                            <label for="quantity" class="block mb-2 text-lg font-bold text-gray-900 dark:text-white pt-3 ">Quantity</label>
                            <!-- Pending: define id of Quantity -->
                            <input type="text" id="quantity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-11/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="5" required>
                        </div>
                        {{!-- <div class="pl-4" >
                            <label for="date" class="block mb-2 text-lg font-bold text-gray-900 dark:text-white pt-3">Date</label>
                            <input type="text" id="date_order" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-11/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="21-06-2022" required>
                        </div> --}}
                        <div class="pl-4" >
                        <select id = "mySaleList" onchange = "salePicker()" >   
                                {{#each sales as |sale|}} 
                                <option data-id="{{id}}"> {{id}} </option>  
                                {{/each}} 
                            </select> 
                            <label for="client" class="block mb-2 text-lg font-bold text-gray-900 dark:text-white pt-3 ">SaleId</label>
                            <input type="text" id="sale_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-11/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                        </div> 
                        <button class="text-center rounded-md bg-slate-800 text-white my-2 mx-4 py-2" id="newOrder">Submit order</button>
                    </div>
            </div>

            <div>
                {{#each sales as |sale|}}
                <div class="text-3xl font-bold text-black p-4">Sales History {{id}} </div>
                    
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="text-xs text-gray-700 uppercase bg-gray-50 dark:ng-gray-700 dark:text-gray-400">
                        <thead >
                            <tr>
                                <th scope="col" class="px-6 py-3">ID</th>
                                <th scope="col" class="px-6 py-3">Qty</th>
                                <th scope="col" class="px-6 py-3">Date</th>
                                <th scope="col" class="px-6 py-3">Product</th>
                                <th scope="col" class="px-6 py-3">Amount</th>
                            </tr>
                        </thead>

                        <tbody>
                            
                            {{#each sale.products as |product|}} 
                            {{#each sale.sale_products as |saleProducts|}}
                            
                             

                            {{#if @../last}}   
                                {{!-- {{#each sale.products as |product|}} --}}
                                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap 
                                    dark:text-white">{{saleProducts.id}}</td>
                                    <td class="px-6 py-4">{{saleProducts.quantity}}</td>
                                    <td class="px-6 py-4">{{sale.date_created}}</td>  
                                                             
                                    <td class="px-6 py-4"> {{product.product_name}}</td>  
                                    <td class="px-6 py-4">{{product.price}}$</td>       
                                </tr>
                            {{/if}}
                        {{/each}}
                        {{/each}} 
                        </tbody>
                        </table>
                    </div>
                    {{/each}}
                            {{!-- <tr>
                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">2</td>
                                <td class="px-6 py-4">Reishi extract</td>
                                <td class="px-6 py-4">5</td>
                                <td class="px-6 py-4">10-06-2022</td>
                                <td class="px-6 py-4">$25.00</td>
                            </tr>
                            <tr  class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">3</td>
                                <td class="px-6 py-4">Lion's Mane extract</td>
                                <td class="px-6 py-4">5</td>
                                <td class="px-6 py-4">11-06-2022</td>
                                <td class="px-6 py-4">$50.00</td>
                            </tr> --}}
                        
                
                <!-- <div class="bg-gray-200 w-96 h-96 rounded-xl">    
                    <div class="flex flex-row underline-offset-1 ">
                        <div class="block mb-2 text-lg font-bold text-gray-900 dark:text-white p-3 first-letter:"> ID</div>
                        <div class="block mb-2 text-lg font-bold text-gray-900 dark:text-white p-3 first-letter:"> Product</div>
                        <div class="block mb-2 text-lg font-bold text-gray-900 dark:text-white p-3 first-letter:"> Qty</div>
                        <div class="block mb-2 text-lg font-bold text-gray-900 dark:text-white p-3 first-letter:"> Date</div>
                        <div class="block mb-2 text-lg font-bold text-gray-900 dark:text-white p-3 first-letter:"> Amount</div>
                    </div>
                </div> -->
            </div>
        </div>
        {{!-- <script type="text/javascript"> 
                Handlebars.registerHelper('areEqual', (value, value2)=>{
                console.log(value)
                console.log(value2)
                return value == value2;
                });
        </script> --}}
        <script src="/js/dashboard.js"></script>
